
#include <dt-bindings/zmk/matrix_transform.h>
#include "layouts.dtsi"

/ {
    behaviors {
        hw_soft_off: hw_soft_off {
            compatible = "zmk,behavior-soft-off";
            #binding-cells = <0>;
            split-peripheral-off-on-press; // Turn peripheral off immediately for reliability
            hold-time-ms = <2000>; // Only turn off if the key is held for 2 seconds or longer.
        };
    };
    keys {
        compatible = "gpio-keys";
        soft_off_gpio_key: soft_off_gpio_key {
            gpios = <&xiao_d 9 (GPIO_ACTIVE_LOW | GPIO_PULL_UP) >;
        };
    };
    wakeup_scan: wakeup_scan {
        compatible = "zmk,kscan-gpio-direct";
        input-keys = <&soft_off_gpio_key>;
        wakeup-source;
    };
};

/ {
    chosen {
        zmk,physical-layout = &physical_layout0;
    };

    default_transform: keymap_transform_0 {
        compatible = "zmk,matrix-transform";
        columns = <12>;
        rows = <5>;
        map = <
            RC(0,7) RC(0,6) RC(0,5) RC(0,4) RC(0,3) RC(0,2) RC(7,0) RC(7,1) RC(7,2) RC(7,3) RC(7,4)  RC(7,5) 
            RC(1,7) RC(1,6) RC(1,5) RC(1,4) RC(1,3) RC(1,2) RC(6,0) RC(6,1) RC(6,2) RC(6,3)          RC(6,4)
            RC(2,7) RC(2,6) RC(2,5) RC(2,4) RC(2,3) RC(2,1)         RC(5,0) RC(5,1) RC(5,2) RC(5,3)  RC(5,4)
            RC(3,7) RC(3,6)                 RC(3,4) RC(3,2) RC(4,0) RC(4,1)                 RC(4,3)  RC(4,5)
	    RC(8,0)
        >;
    };

    kscan0: kscan {
        compatible = "zmk,kscan-composite";
        rows = <8>;
        columns = <8>;

        // Include the matrix driver
        matrix {
            kscan = <&kscan1>;
        };

        // Include the direct GPIO driver...
        direct {
            kscan = <&kscan2>;
            row-offset = <8>; // ...and shift it to not overlap
        };    
    };

    // keyboard
    kscan1: kscan_matrix {
        compatible = "zmk,kscan-gpio-charlieplex";
        wakeup-source;

        interrupt-gpios = <&xiao_d 0 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN) >;
        gpios
          = <&xiao_d 8 GPIO_ACTIVE_HIGH>
          , <&xiao_d 7 GPIO_ACTIVE_HIGH>
          , <&xiao_d 6 GPIO_ACTIVE_HIGH>
          , <&xiao_d 5 GPIO_ACTIVE_HIGH>
          , <&xiao_d 4 GPIO_ACTIVE_HIGH>
          , <&xiao_d 3 GPIO_ACTIVE_HIGH>
          , <&xiao_d 2 GPIO_ACTIVE_HIGH>
          , <&xiao_d 1 GPIO_ACTIVE_HIGH>
          ; // addressable space is 8x8, (minus paired values)

    };

    // conn direct button
    kscan2: kscan_direct {
        compatible = "zmk,kscan-gpio-direct";
        input-gpios
          = <&xiao_d 10 (GPIO_ACTIVE_LOW | GPIO_PULL_UP) >;
    };
};

&physical_layout0 {
    kscan = <&kscan0>;
    transform = <&default_transform>;
};

&xiao_serial {
    status = "disabled";
};
